@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --about-back-color: #07689F;
  --education-back-color: #A2D5F2;
  --experience-back-color: #FAFAFA;
  --skills-back-color: #FF7E67;
  --projects-back-color: #F6F6E9;

  /* --about-back-color: #9f2007;
  --education-back-color: #d1ba80;
  --experience-back-color: #FAFAFA;
  --skills-back-color: #7499a5;
  --projects-back-color: #F6F6E9; */
}
body{
  font-size: 10px;
  margin: 0px;
  scroll-behavior: smooth;
  overflow-x: hidden;
}