.section{
    background-color: var(--experience-back-color);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.heading{
    font-family: 'Bungee Shade', cursive;
    font-size: 6vw;
    line-height: 7vw;
    display: flex;
    flex-direction: column;
}
.cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}
@media only screen and (max-width: 800px){
    .section{
        flex-direction: column;
    }
    .heading{
        flex-direction: row;
        margin-top: 1rem;
        font-size: 2rem;

    }
    .cards{
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
